@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "opensans";
    font-weight: 300;
    font-style: normal;
    src: url("../../public/fonts/OpenSans-Light.woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 400;
    font-style: normal;
    src: url("../../public/fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 500;
    font-style: normal;
    src: url("../../public/fonts/OpenSans-Medium.woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 600;
    font-style: normal;
    src: url("../../public/fonts/OpenSans-SemiBold.woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 800;
    font-style: normal;
    src: url("../../public/fonts/OpenSans-ExtraBold.woff");
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 10 - 0rem * 20));
    }
}

.scrolling-animation {
    animation: scroll 25s linear infinite;
}

:root {
    --background: #303030;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
